doctype html
html
  head
    title Clipboard Link and Data Table
    style.
      table, th, td {
        border: 1px solid black;
      }
      #copy-link {
        cursor: pointer;
        color: blue;
        text-decoration: underline;
      }
  body
    a#copy-link(href='/checks/#{check.checkId}/prove' onclick='copyToClipboard()') Copy this link
    br
    #loading-msg Loading...
    if check.data.country
      p Verification Initiated, please wait for them to upload the proofs 
      p User is in #{check.data.country}
    if check.data.proofParams
      table#data-table
      for param in check.data.proofParams
        tr
          td #{Object.keys(param)[0]}
          td #{Object.values(param)[0]}


    p #{JSON.stringify(check.data)}
    script.
      function copyToClipboard() {
        navigator.clipboard.writeText(location.href)
          .then(() => alert('Link copied to clipboard!'))
          .catch(err => console.error('Failed to copy text: ', err));
      }

      setInterval(() => location.reload(), 5000);
